header{
    height: 9rem;
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;

}
header img{
    height: 10rem;
}

@media (max-width: 650px){
    header{
        display: none;
    }
    }